<div class="c-media-tile">
	<div class="c-media-tile__image">
		<img>
	</div>
	<div class="c-media-tile__content">
		<h3 class="c-media-tile__title">{{title}}</h3>
		<p class="c-media-tile__description">{{content}}</p>
	</div>
</div>
