{{#link}}<a href="{{link}}" class="c-media-tile {{tileClass}}">{{/link}}
{{^link}}<div class="c-media-tile {{tileClass}}">{{/link}}
	{{#image}}
	<div class="c-media-tile__image-wrap">
		<div class="c-media-tile__image {{imageClass}}">
			<img>
		</div>
	</div>
	{{/image}}
	<div class="c-media-tile__content">
		{{#title}}<h3 class="c-media-tile__title {{titleClass}}">{{title}}</h3>{{/title}}
		{{#content}}<p class="c-media-tile__description {{contentClass}}">{{content}}</p>{{/content}}
		{{#date}}<small class="c-media-tile__date">{{date}}</small>{{/date}}
	</div>
{{#link}}</a>{{/link}}
{{^link}}</div>{{/link}}
