.l-media-grid{
	display: flex;
	flex-direction: column;

	@media (min-width: $xs){
		flex-direction: row;
	}

	> *{
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $xs){
			flex: 1 1 calc(33.333% - #{$total-gutter});
		}
	}
}
