.c-media-tile{
	display: flex;
	text-decoration: none;
	flex-direction: column;
	margin-bottom: $dspace;

	@media (min-width: $xxs){
		flex-direction: row;

		&:nth-child(even){
			flex-direction: row-reverse;
		}
	}

	@media (min-width: $xs){
		flex-direction: column;
		margin-bottom: 0;

		&:nth-child(even){
			flex-direction: column;
		}
	}

	&__image{
		margin-bottom: $space;
		padding-bottom: ratio(190, 110);
		position: relative;
		height: 0;
		width: 100%;

		> *{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-wrap{
			@media (min-width: $xxs){
				flex: 1 0 40%;
				width: 40%;
				margin-right: $dspace;
			}

			@media (min-width: $xs){
				flex: 0 0 0;
				width: 100%;
				margin-right: 0;
			}
		}

		&--large{
			@media (min-width: $xs){
				padding-bottom: ratio(190, 255);
				margin-bottom: $dspace;
			}

			@media (min-width: $sm){
				padding-bottom: ratio(300, 465);
				margin-bottom: $tspace;
			}
		}

		&--medium{
			@media (min-width: $xs){
				padding-bottom: ratio(190, 255);
				margin-bottom: $dspace;
			}
		}
	}

	&--image-last &__image{
		order: 1;
	}

	&--sm-no-image &__image{
		@media (min-width: $xs) and (max-width: $sm-max){
			display: none;
		}
	}

	&__title{
		color: $grey-dark;
		font-size: 1.8rem;
		text-transform: uppercase;

		&--large{
			@media (min-width: $sm){
				font-size: 2.2rem;
				font-weight: 400;
				text-transform: none;
			}
		}

		&--sm-no-wrap{
			@media (min-width: $xs) and (max-width: $sm-max){
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100%;
				overflow: hidden;
			}
		}
	}

	&__description{
		color: $grey-dark;
		margin-bottom: 0;
		font-size: $font-size;

		&--small{
			font-size: 1.3rem;
		}
	}

	&__content{
		@media (min-width: $xxs){
			flex: 1 1 60%;
			width: 60%;
		}

		@media (min-width: $xs){
			flex: 0 0 0;
			width: 100%;
		}
	}

	&__date{
		display: block;
		font-size: 1.3rem;
		line-height: $line-height;
		color: $grey;
	}

	&--image-last &__date{
		margin-bottom: $dspace;
	}

	&--sm-no-image &__date{
		@media (min-width: $xs) and (max-width: $sm-max){
			margin-bottom: 0;
		}
	}
}
