.c-media-tile{
	display: flex;
	flex-direction: column;
	text-decoration: none;

	&__image{
		margin-bottom: $space;

		&--large,
		&--medium,
		&--small{
			position: relative;
			height: 0;
			width: 100%;

			> *{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&--large{
			padding-bottom: ratio(300, 465);
			margin-bottom: $tspace;
		}

		&--medium{
			padding-bottom: ratio(190, 255);
			margin-bottom: $dspace;
		}

		&--small{
			padding-bottom: ratio(190, 110);
		}
	}

	&--image-last &__image{
		order: 1;
	}

	&--sm-no-image &__image{
		@media (min-width: $xs) and (max-width: $sm-max){
			display: none;
		}
	}

	&__title{
		color: $grey-dark;
		font-size: 1.8rem;
		text-transform: uppercase;

		&--large{
			font-size: 2.2rem;
			font-weight: 400;
			text-transform: none;
		}

		&--sm-no-wrap{
			@media (min-width: $xs) and (max-width: $sm-max){
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100%;
				overflow: hidden;
			}
		}
	}

	&__description{
		color: $grey-dark;
		margin-bottom: 0;
		font-size: $font-size;

		&--small{
			font-size: 1.3rem;
		}
	}

	&__date{
		display: block;
		font-size: 1.3rem;
		line-height: $line-height;
		color: $grey;
	}

	&--image-last &__date{
		margin-bottom: $dspace;
	}

	&--sm-no-image &__date{
		@media (min-width: $xs) and (max-width: $sm-max){
			margin-bottom: 0;
		}
	}
}
