{{> ./elements/header}}
<input type="text" class="js-input">
<div class="js-output"></div>
<iframe width="560" height="315" src="" id="vidIframe" frameborder="0" allowfullscreen></iframe>
{{> ./elements/footer}}
