	<script>
		(function (){
			function init(){
				setTimeout(function (){
					var stage = document.querySelector('.stage');
					stage.classList.add('active');
				}, 1000);
			}

			document.addEventListener('DOMContentLoaded', init);
		})();
	</script>
</body>
</html>
