<aside class="l-home__aside c-timeline h-hide--xs">
	<div class="c-media-title c-timeline__title">
		<h3>{{timeline.title}}</h3>
	</div>
	<div class="c-media-list c-media-list--sm-row c-timeline__list">
		{{#timeline.mediaList}}
		{{> ./media-tile/media-tile}}
		{{/timeline.mediaList}}
	</div>
	<a href="#" class="c-timeline__more">{{{timeline.moreLink}}}</a>
</aside>
