.grid{
	width: 100%;
	height: 100vh;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-gap: $dSpace;
	//padding: $dSpace;
	overflow: auto;

	@media (min-width: $md-min){
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, calc(33.333% - #{$space}));
		grid-auto-columns: calc(33.333% - #{$space});
		grid-auto-flow: column;
	}
}
