//====================
//	colours
//====================

//	colour pallete
//====================
$grey: 		#2e2e2e;

// named colours
//====================
$text-color: $grey;
$body-background-color: #fff;
