//====================
//	colours
//====================

//	colour pallete
//====================
$charcoal-dark: 	#222;
$charcoal: 			#333;
$charcoal-light:	#555;
$grey-dark: 		#989898;
$grey: 				#cecece;
$grey-light: 		#d8d8d8;


// named colours
//====================
$text-color: $charcoal-light;
$body-background-color: #fff;
