//====================
// Scales
//====================

$minor-second: 		1.067;
$major-second: 		1.125;
$minor-third: 		1.2;
$major-third: 		1.25;
$perfect-fourth: 	1.333;
$dim-fifth: 		1.414;
$perfect-fifth:		1.5;
$minor-sixth: 		1.6;
$golden-section: 	1.618;
