//====================
// Spacings
//====================

// Base Vertical Space
//====================
$space: 8px;
$dspace: $space * 2;
$tspace: $space * 3;

// type vertical space
//====================
$type-margin-top: 		1em;
$type-margin-bottom: 	0.66em;
$type-margin-neg-top: 	-0.25em;

// Horizontal Space
//====================
$total-gutter: 30px;
$gutter: $total-gutter / 2;
