$shrinkTime: 2000ms;
$shrinkDelay: 750ms;
$shrinkEase: ease-in-out;

$spinTime: 2000ms;
$spinDelay: 1500ms;
$spinEase: ease-in-out;

$moveTime: 2000ms;
$moveDelay: 2000ms;
$moveEase: ease-in-out;

.circle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: $circleDiameter;
	height: $circleDiameter;
	transform: translate3d(-50%, -50%, 0);
	background-color: #000;
	border-radius: 50%;
	overflow: hidden;

	&__shrink,
	&__spin,
	&__move,
	&__inner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__inner{
		border-radius: 50%;
		background-color: #fff;
		transform-origin: center;
	}

	.active &__shrink{
		transition-property: transform;
		transition-duration: $shrinkTime;
		transition-delay: $shrinkDelay;
		transition-timing-function: $shrinkEase;
		transform: scale(0.7);
	}

	.active &__move{
		transition-property: transform;
		transition-duration: $moveTime;
		transition-delay: $moveDelay;
		transition-timing-function: $moveEase;
		transform: translateY(125%);
	}

	.active &__spin{
		transition-property: transform;
		transition-duration: $spinTime;
		transition-delay: $spinDelay;
		transition-timing-function: $spinEase;
		transform: rotateX(-275deg);
	}
}
