.l-home{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"featured"
		"popular"
		"aside";
	grid-row-gap: $tspace;
	width: 100%;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $tspace * 2;

	@media (min-width: $md){
		grid-template-columns: 3fr 1fr;
		grid-template-areas:
			"featured aside"
			"popular aside";
		grid-column-gap: $total-gutter * 2;
		grid-row-gap: $tspace;
	}

	@media (min-width: $lg){
		padding-left: $total-gutter;
		padding-right: $total-gutter;
	}

	&__featured{
		grid-area: featured;
	}

	&__aside{
		grid-area: aside;
	}

	&__popular{
		grid-area: popular;
	}
}
