{{> ./elements/header}}
{{> ./components/header}}

<main class="l-home">
	{{> ./components/media-tile/threeMediaTiles}}
	<section class="l-home__popular"></section>
	<aside class="l-home__aside"></aside>
</main>

{{> ./elements/footer}}
