{{> ./elements/header}}
{{> ./components/header}}

<main class="l-home">
	{{> ./components/media-tile/threeMediaTiles}}
	{{> ./components/popular}}
	{{> ./components/timeline}}
</main>

{{> ./elements/footer}}
