.popular-news{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"media";
	align-content: flex-start;

	@media (min-width: $sm){
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"title title"
			"list media";
	}

	&__title,
	&__list{
		margin-left: $gutter;
		margin-right: $gutter;
	}

	&__title{
		grid-area: title;
	}

	&__list{
		grid-area: list;
	}

	&__media{
		grid-area: media;
	}
}
